In [1]:
import csv
import json
import time
import pandas as pd
import numpy as np

In [2]:
path = 'C:\\Users\\livia\\Dropbox\\HRP Alliance authorship paper\\Data 2022-04-14\\'
authors = pd.read_csv(path + 'authors_gender_loc.csv')
authors = authors.drop("Unnamed: 0", axis = 1)
authors = authors.drop("Unnamed: 0.1", axis = 1)
n_authors_entry = len(authors)
print('Num autores total: {}'.format(n_authors_entry))

for nome in authors.deduplicated_name_std.value_counts().index:
    if ('World Health Organization' in nome) or ('WHO' in nome.upper()) \
        or ('Research'.upper() in nome.upper()) or ('Reproductive'.upper() in nome.upper()) \
        or ('Study'.upper() in nome.upper()) or ('Health'.upper() in nome.upper()) \
        or ('GROUP' in nome.upper()) or ('NETWORK' in nome.upper()):
        authors = authors[authors.deduplicated_name_std != nome]
authors

n_authors_without_inst = len(authors)
print('N instituicoes: {}'.format(n_authors_entry - n_authors_without_inst))
print('Num autores total sem instituicoes: {}'.format(n_authors_without_inst))

NameError: name 'pd' is not defined

In [40]:
authors[authors.gender == 'unknown'].deduplicated_name_std.value_counts() \
    .to_csv(path + 'unknow_gender_count.csv', encoding="utf-8")

In [56]:
authors.deduplicated_name_std.value_counts()

Ahmet M Metin Gulmezoglu    206
Ozge Tuncalp                151
Lale Say                    116
Joshua Peter Vogel          115
Olufemi Taiwo Oladapo       110
                           ...
Emilie Filmer-Wilson          1
L M Nic Lochlainn             1
Arjumand Siddiqi              1
Malahat Akbarfahimi           1
K A Swanson                   1
Name: deduplicated_name_std, Length: 8933, dtype: int64

In [64]:
authors.head()

,full_name,affiliation,index_authorship,pmid,last_name,first_letter_name,standard_name,names_variation_std,deduplicated_name_std,n_variacoes_std,names_variation_last,deduplicated_name_last,n_variacoes_last,gender,org,gpe,loc,city,country,other_gpe
0,Erika Hurtado-Salgado,"['Center for Population Health Research, Natio...",1,34921727,HURTADO-SALGADO,E,E HURTADO-SALGADO,['Erika Hurtado-Salgado'],Erika Hurtado-Salgado,1,['Erika Hurtado-Salgado'],Erika Hurtado-Salgado,1,female,NATIONAL INSTITUTE OF PUBLIC HEALTH,"CUERNAVACA, MEXICO",NaN,CUERNAVACA,MEXICO,NaN
1,Luz Cárdenas-Cárdenas,"['Center for Population Health Research, Natio...",2,34921727,CARDENAS-CARDENAS,L,L CARDENAS-CARDENAS,['Luz Cárdenas-Cárdenas'],Luz Cardenas-Cardenas,1,['Luz Cárdenas-Cárdenas'],Luz Cardenas-Cardenas,1,mostly_female,NATIONAL INSTITUTE OF PUBLIC HEALTH,"CUERNAVACA, MEXICO",NaN,CUERNAVACA,MEXICO,NaN
2,Jorge Salmerón,"['Political, Population and Health Research Ce...",3,34921727,SALMERON,J,J SALMERON,['Jorge Salmerón'],Jorge Salmeron,1,['Jorge Salmerón'],Jorge Salmeron,1,male,NATIONAL AUTONOMOUS UNIVERSITY OF MEXICO,"MEXICO CITY, MEXICO",NaN,MEXICO CITY,MEXICO,NaN
3,Rufino Luna-Gordillo,"['National Perinatology Institute, Health Mini...",4,34921727,LUNA-GORDILLO,R,R LUNA-GORDILLO,['Rufino Luna-Gordillo'],Rufino Luna-Gordillo,1,['Rufino Luna-Gordillo'],Rufino Luna-Gordillo,1,male,"NATIONAL PERINATOLOGY INSTITUTE, HEALTH MINISTRY","MEXICO CITY, MEXICO",NaN,MEXICO CITY,MEXICO,NaN
4,Eduardo Ortiz-Panozo,"['Center for Population Health Research, Natio...",5,34921727,ORTIZ-PANOZO,E,E ORTIZ-PANOZO,"['Eduardo Ortiz-Panozo', 'E Ortiz-Panozo']",Eduardo Ortiz-Panozo,2,"['Eduardo Ortiz-Panozo', 'E Ortiz-Panozo']",Eduardo Ortiz-Panozo,2,male,NATIONAL INSTITUTE OF PUBLIC HEALTH,"CUERNAVACA, MEXICO",NaN,CUERNAVACA,MEXICO,NaN

In [75]:
authors_1 = authors
for nome in authors.deduplicated_name_std.value_counts().index:
    if len(nome.split()[0]) > 1:
        authors_1 = authors_1[authors_1.deduplicated_name_std != nome]
        #print(authors)

In [79]:
authors_1.deduplicated_name_std.value_counts()

J Miguel Belizan    27
J Frederik Froen    13
E M Belsey           9
P David Griffin      8
P E Hall             8
                    ..
M S Bamji            1
G Tsertsvadze        1
M Panday             1
D Wilhelm Steyn      1
S Tu                 1
Name: deduplicated_name_std, Length: 962, dtype: int64

In [82]:
authors_1[authors_1.gender != 'unknown']#.gender.value_counts()

,full_name,affiliation,index_authorship,pmid,last_name,first_letter_name,standard_name,names_variation_std,deduplicated_name_std,n_variacoes_std,names_variation_last,deduplicated_name_last,n_variacoes_last,gender,org,gpe,loc,city,country,other_gpe
19,C Heinrich,"['Eye Veterinary Clinic, Herefordshire, HRP 0P...",11,34937128,HEINRICH,C,C HEINRICH,['C Heinrich'],C Heinrich,1,"['C Heinrich', 'Sabine Heinrich']",Sabine Heinrich,2,male,NaN,UK,NaN,NaN,NaN,UK
164,D Liu,['Dongguan City Maternal and Child Health Hosp...,4,34559941,LIU,D,D LIU,['D Liu'],D Liu,1,"['Li Liu', 'D Liu', 'Z Liu', 'L Liu', 'W J Liu...",William Jun Liu,22,andy,"SOUTHERN MEDICAL UNIVERSITY, CHILD HEALTH HOSP...","GUANGDONG, CHINA",NaN,NaN,CHINA,GUANGDONG
165,N Yuan,"['Department of Obstetrics and Gynaecology, Th...",5,34559941,YUAN,N,N YUAN,['N Yuan'],N Yuan,1,"['N Yuan', 'D Yuan', 'Mingyang Yuan', 'Bocong ...",Mingyang Yuan,4,andy,"DEPARTMENT OF OBSTETRICS AND GYNAECOLOGY, SHAA...","SHAANXI, CHINA",NaN,NaN,CHINA,SHAANXI
166,L Shang,"['Department of Obstetrics, The Maternal and C...",6,34559941,SHANG,L,L SHANG,['L Shang'],L Shang,1,['L Shang'],L Shang,1,andy,"CHILD HEALTH HOSPITAL OF XINXIANG, DEPARTMENT ...","CHINA, HENAN",NaN,NaN,CHINA,HENAN
167,W Lin,"['Department of Obstetrics, The Maternal and C...",7,34559941,LIN,W,W LIN,['W Lin'],W Lin,1,"['W Lin', 'S L Lin', 'Hui Lin']",S L Lin,3,female,"CHILD HEALTH HOSPITAL OF DALIAN, DEPARTMENT OF...","CHINA, LIAONING",NaN,NaN,CHINA,LIAONING
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18767,P D Griffin,[],2,2422369,GRIFFIN,P,P GRIFFIN,"['P David Griffin', 'P D Griffin']",P David Griffin,2,"['Isabel Griffin', 'Sally Griffin', 'P David G...",P David Griffin,4,male,NaN,NaN,NaN,NaN,NaN,NaN
18780,A Kellie,[],5,7176659,KELLIE,A,A KELLIE,['A Kellie'],A Kellie,1,"['Frances Kellie', 'A Kellie']",Frances Kellie,2,mostly_female,NaN,NaN,NaN,NaN,NaN,NaN
18781,H Campbell,[],6,7176659,CAMPBELL,H,H CAMPBELL,['H Campbell'],H Campbell,1,"['Martin J Campbell', 'M J Campbell', 'Oona M ...",Oona Maeve Renee Campbell,9,male,NaN,NaN,NaN,NaN,NaN,NaN
18790,P Diethelm,[],3,7008825,DIETHELM,P,P DIETHELM,['P Diethelm'],P Diethelm,1,['P Diethelm'],P Diethelm,1,male,NaN,NaN,NaN,NaN,NaN,NaN
18814,A Zahra,[],1,4150926,ZAHRA,A,A ZAHRA,['A Zahra'],A Zahra,1,"['Nusrat Zahra', 'A Zahra']",Nusrat Zahra,2,female,NaN,NaN,NaN,NaN,NaN,NaN