In [1]:
import requests
import re
import pandas as pd
import time

try: 
    from BeautifulSoup import BeautifulSoup
except ImportError:
    from bs4 import BeautifulSoup

def striphtml(data):
    p = re.compile(r'<.*?>')
    return p.sub('', data)

In [2]:
path = 'C:\\Users\\livia\\Dropbox\\HRP Alliance authorship paper\\Data 2022-03-26\\'

In [3]:
file = 'author_unknown_gender.csv'
complete_list_authors = pd.read_csv(path + file)
complete_list_authors

                                                   name   gender
0                                           A A Adeniyi  unknown
1                                      A A Radionchenko  unknown
2                                              A B Ande  unknown
3                                               A Balen  unknown
4                                        A Bayduysenova  unknown
...                                                 ...      ...
2596  for PregCOV-19 Living Systematic Review Consor...  unknown
2597           members of the BRANCH steering committee  unknown
2598  members of the WHO Maternal Morbidity Working ...  unknown
2599                          on behalf the study group  unknown
2600                                      study authors  unknown

[2601 rows x 2 columns]

In [4]:
she = []
he = []
for name in complete_list_authors['name'][:10]:
    s = requests.Session()
    url = 'https://www.google.com/search?q=%22{}'.format(name + " he she")  
    try:
        response = s.get(url)
        time.sleep(10)
    except requests.exceptions.ConnectionError:
        response = s.get(url)

    html = response.text
    parsed_html = BeautifulSoup(html)
    she += [len(re.findall(' she ', striphtml(parsed_html.find('body').text)))]    
    he += [len(re.findall(' he ', striphtml(parsed_html.find('body').text)))]

In [5]:
for name in complete_list_authors['name'][:10]:
    print(name)

A A Adeniyi
A A Radionchenko
A B Ande
A Balen
A Bayduysenova
A Bishop
A Bourtembourg
A Brandrup-lukanow
A C Bariweni
A C Umezulike

In [6]:
pd.DataFrame([she, he])

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0

In [5]:
s = requests.Session()
url = 'https://www.webofscience.com/wos/woscc/full-record/WOS:000560593300008'
try:
    response = s.get(url)
    time.sleep(10)
except requests.exceptions.ConnectionError:
    response = s.get(url)

html = response.text
parsed_html = BeautifulSoup(html)
parsed_html

<html><head>
<title>Access Denied</title>
</head><body>
<h1>Access Denied</h1>

You don't have permission to access "http://www.webofscience.com/wos/woscc/full-record/WOS:000560593300008" on this server.<p>
Reference #18.48d3cf17.1650122501.dfe46578
</p></body>
</html>